/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset"

body, html 
	padding: 0
	margin: 0
	font-size: 1.2em
	font-family: sans-serif
	color: #454545
	background-color: whitesmoke
	-webkit-font-smoothing: antialiased
	-webkit-hyphens: auto
	-moz-hyphens: auto
	-ms-hyphens: auto
	hyphens: auto

/*modular or tpypgraphic scale: 'classic'  (r = 2, n = 5)*/
h1
	font-size: 2em
h2
	font-size: 1.7411em
h3
	font-size: 1.5157em
h4
	font-size: 1.3195em
h5
	font-size: 1.1487em
body, p, ul
	font-size: 1em 
sup, sub
	font-size: .8706em

article 
	background-color: white
	width: 80%
	margin-left: 10%
	box-shadow: 0 20px 10px -10px rgba(150, 150, 150, 0.8)

img 
	-webkit-touch-callout: none
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none

h2 
	font-size: 1.33em
	margin: -1em 8% 0 8%
	padding-top: 22px
	cursor: default


p 
	line-height: 1.2
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, .2) 1px, transparent 1px)
	background-image: -moz-linear-gradient(rgba(0, 0, 0, .2) 1px, transparent 1px)
	background-image: linear-gradient(rgba(0, 0, 0, .2) 1px, transparent 1px)
	background-size: 100% 1.2em
	background-position: 0 1em
	background-origin: content-box
	font-size: 100%
	padding: 1em auto
	margin: 0 auto
	width: 78%
	cursor: default



a 
	text-decoration: none
	color: #7ca065
	cursor: pointer




section
	margin: auto
	width: 80%
	text-align: center
	form
		outline: 2px solid #434343
		margin-top: 8%