<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>


<form>
	Your Favories: <br>

	<div id="favList"></div>

</form>


</body>
</html>
