<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<section>
	<div class="container mt-3 text-center">
        <div class="row justify-content-center">
            <div class="col-md-8 col-12 content">
           <h2>Movie Finder</h2>
                <div id="search">
                    <form>
                        <input type="text" class="search-input search border-padding" placeholder="Enter name of the movie">
                    </form>
                    <div id="result-list" class="border-padding mb-3">

                        <div id="results"></div>
                       
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<% include ../partials/scripts.ejs %>


</body>
</html>
